<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Thanh toán thành công</h1>
    <ol class="breadcrumb justify-content-center mb-0">
    </ol>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Bạn đã đặt hàng thành công </h1>
            <h1 class="display-4">Vui lòng kiểm tra email để biết thêm thông tin</h1>
            <a asp-action="Index" asp-controller="Home">Quay lại trang chủ</a>
        </div>
    </div>
</div>