
@{
    ViewData["Title"] = "Secure";
    Layout = "_Mainlayout";
}
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Chính sách bảo mật</h1>
    <ol class="breadcrumb justify-content-center mb-0">
    </ol>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 fw-bold fs-3">1. MỤC ĐÍCH VÀ PHẠM VI THU THẬP THÔNG TIN</h1>
        <h1 class="fs-3">-Khi mỗi khách hàng truy cập vào website này, trang web sẽ tự động lưu địa chỉ IP cùng với tên miền. Chúng tôi cũng sử dụng các công cụ kiểm tra như “cookie”. Một tài khoản cookie sẽ lưu trữ dữ liệu mà server của website gửi đến trình duyệt của khách hàng khi khách hàng truy cập vào trang web, việc sử dụng chức năng này sẽ giúp chúng tôi hỗ trợ và tìm hiểu nhu cầu, thị hiếu của khách hàng khi truy cập vào website của chúng tôi.</h1>
       
        <h1 class="fs-3">-Chúng tôi cũng kết hợp thông tin về địa chỉ IP và tên miền của khách hàng cùng với các thông tin khác mà khách hàng cung cấp.  </h1>
        <h1 class="fs-3">-Các thông tin này được cung cấp qua những email khách hàng gửi cho chúng tôi, hoặc các thông tin khách hàng điền khi muốn đăng ký, ý kiến phản hồi, những yêu cầu được hỗ trợ, trả lời phiếu điều tra hoặc tham gia vào một cuộc thi/ các hoạt động khuyến mại.</h1>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 fw-bold fs-3">2. PHẠM VI SỬ DỤNG THÔNG TIN</h1>
        <h1 class="fs-3">Thông tin được thu thập thông qua website của chúng tôi sẽ giúp chúng tôi:</h1>
        <h1 class="fs-3">- Hỗ trợ khách hàng khi mua sản phẩm</h1>

        <h1 class="fs-3">- Cung cấp cho khách hàng thông tin về các phiên bản phần mềm mới nhất & các bản cập nhật trên Website của chúng tôi.</h1>
        <h1 class="fs-3">- Xem xét và nâng cấp nội dung và giao diện của Website.</h1>
        <h1 class="fs-3">- Thực hiện các bản khảo sát khách hàng.</h1>
        <h1 class="fs-3">- Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và dịch vụ của công ty</h1>
        <h1 class="fs-3">-Công ty tiến hành thu thập thông tin trực tiếp từ khách hàng và từ các nguồn khác nhau thông qua những cách thức minh bạch và hợp pháp.</h1>
        <h1 class="fs-3">- Thông tin công ty thu thập về khách hàng dựa trên mối quan hệ với chính khách hàng, bao gồm tên, thông tin liên hệ, thông tin về cách sử dụng sản phẩm và dịch vụ của công ty, các thông tin về sở thích, nhân khẩu và những mối quan tâm của khách hàng. </h1>
        <h1 class="fs-3">-Chúng tôi chỉ thu thập những thông tin được yêu cầu, hoặc có liên quan đến việc cung cấp sản phẩm và dịch vụ, mục đích kinh doanh và nhằm hiểu rõ hơn nhu cầu của khách hàng.</h1>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 fw-bold fs-3">3. THỜI GIAN LƯU TRỮ THÔNG TIN CÁ NHÂN</h1>
        <h1 class="fs-3">Công ty sẽ lưu trữ các thông tin cá nhân do khách hàng cung cấp trên các hệ thống nội bộ của chúng tôi, trong quá trình khách hàng tạo đơn hàng hoặc khi khách hàng có yêu cầu hủy các thông tin đã cung cấp trong quá trình tạo đơn hàng.</h1>
        
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 fw-bold fs-3">4. NHỮNG NGƯỜI HOẶC TỔ CHỨC CÓ THỂ ĐƯỢC TIẾP CẬN VỚI THÔNG TIN CÁ NHÂN CỦA KHÁCH HÀNG</h1>
        <h1 class="fs-3">Khách hàng đồng ý rằng, trong trường hợp cần thiết, các cơ quan/ tổ chức/cá nhân sau có quyền được tiếp cận và thu thập các thông tin cá nhân của mình, bao gồm:</h1>
        <h1 class="fs-3">•    Ban quản trị.</h1>
        <h1 class="fs-3">•    Bên thứ ba có dịch vụ tích hợp với Website.</h1>
        <h1 class="fs-3">•    Cơ quan nhà nước có thẩm quyền trong trường hợp có yêu cầu theo quy định tại quy chế hoạt động.</h1>
        <h1 class="fs-3">•    Bên khiếu nại chứng minh được hành vi vi phạm của Khách hàng.</h1>
        <h1 class="fs-3"> • Theo yêu cầu của cơ quan nhà nước có thẩm quyền</h1>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 fw-bold fs-3">5. PHƯƠNG TIỆN VÀ CÔNG CỤ ĐỂ NGƯỜI TIÊU DÙNG TIẾP CẬN VÀ CHỈNH SỬA DỮ LIỆU THÔNG TIN CÁ NHÂN CỦA MÌNH</h1>
        <h1 class="fs-3">Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu thực hiện việc này.</h1>
        <h1 class="fs-3">Khách hàng có trách nhiệm thường xuyên cập nhật giữ liệu về thông tin cá nhân bảo đảm chính xác, kịp thời.</h1>
        <h1 class="fs-3">Thành viên có quyền gửi khiếu nại về việc lộ thông tin các nhân cho bên thứ 3 đến Ban quản trị. Khi tiếp nhận những phản hồi này davies.vn sẽ xác nhận lại thông tin, phải có trách nhiệm trả lời lý do và hướng dẫn thành viên khôi phục và bảo mật lại thông tin.</h1>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 fw-bold fs-3">6. CAM KẾT BẢO MẬT THÔNG TIN CÁ NHÂN CỦA NGƯỜI TIÊU DÙNG</h1>
        <h1 class="fs-3">Thông tin cá nhân của khách hàng trên Website được chúng tôi cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của davies.vn. Việc thu thập và sử dụng thông tin của mỗi khách hàng chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.</h1>
        <h1 class="fs-3">Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của khách hàng khi không có sự cho phép đồng ý từ khách hàng.</h1>
        
        <h1 class="fs-3">Chúng tôi sẽ cung cấp 1 số thông tin như: tên, địa chỉ, số điện thoại cho bên dịch vụ vận chuyển khi sử dụng dịch vụ giao nhận vận chuyển hóa đơn và hợp đồng cho khách hàng.</h1>
        <h1 class="fs-3">Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân người dùng, chúng tôi  sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và đồng thời chúng tôi cũng sẽ thông báo cho khách hàng được biết.</h1>
        <h1 class="fs-3">Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của khách hàng bao gồm thông tin hóa đơn kế toán chứng từ số hóa</h1>
        <h1 class="fs-3">Ban quản trị  yêu cầu các khách hàng khi sử dụng dịch vụ của  phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, …, và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản trị davies.vn không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của khách hàng đó nếu xét thấy tất cả thông tin cá nhân của khách hàng đó cung cấp khi đăng ký ban đầu là không chính xác.</h1>


    </div>
</div>




