@model double // hoặc kiểu dữ liệu mà bạn đã chuyển từ Controller

<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">

        @for (int i = 1; i <= Model; i++)
        {
            <a asp-action="Customer" asp-controller="Admin" asp-route-page="@i" class="active mr-2">@i</a>
        }
    </div>
</div>

